<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous"></head>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Datos del Producto: {{product.product_name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name Category: {{product.name_category}}</li>
      <li class="list-group-item">Created By: {{product.email}}</li>
      <li class="list-group-item">Quantity: {{product.quantity}}</li>

    </ul>
    <div class="card-body">
      <button routerLink="/product/update/{{product.id}}">Update Product</button>
    <button routerLink="/">See all the Products</button>

    </div>
  </div>